@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Josefin+Sans:wght@300;400&display=swap');

:root {

  /* Typography */
  --header-text: 'Dancing Script', cursive;
  --content-text: 'Josefin Sans', sans-serif;

  /* Colors */
  /* Replace and add to below with actual project color theme */
  --base-color: #FFC0CB;
  --grad1-color: #FFABC2;
  --grad2-color: #FE95BE;
  --grad3-color: #FA7FBD;
  --grad4-color: #F269BF;
  --secondary-color: #7A4E5A;
  --accent-color: #E64B18;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --hearts-color: #ff094f;
}

/* Global styles */

body {
    font-family: var(--content-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color:var(--white-color);
    /* mycolor.space used to generate gradient style */
    background-image: linear-gradient(to right bottom, var(--base-color), var(--grad1-color), var(--grad2-color), var(--grad3-color), var(--grad4-color));
    /*-- the following settings to keep footer at bottom of page --*/
    min-height:100vh;
    display: flex;
    flex-direction: column;
}





/* -----------------------Header */

.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  font-size: 14px;
  font-family: var(--header-text);
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: var(--secondary-color) !important;
  padding: 20px 20px;
  z-index:999;
}

.navbar-brand {
  font-size: 2.25rem;
  font-family: var(--header-text);
}

.nav-link {
  font-size: 20px;
  font-family: var(--content-text);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white-color);
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover{
  color: var(--base-color);
}

/*------------ Page Layout Utilities */

.header-container {
  padding-top:100px;
}

.sub-content {
  height: 5vh;
}


/*-----------------------Item Card */

.card {
  border:solid 5px var(--accent-color);
  border-radius: 10px;
}


.card-body {
  background-color: var(--grad4-color);
}



/* -----------------------Footer */

footer {
  margin-top: auto;
  position: sticky;
  
}

footer {
  height: 10vh;
  width:100%;
  color: var(--white-color);
  background: var(--secondary-color) !important;
}

#footer-external-links> a {
  text-decoration: none;
  color: var(--white-color);
}

#footer-external-links> a:hover {
  color: var(--base-color);
}

/*---Hearts on click---*/

@keyframes heartfade {
	0% {
	  opacity : 1;
  }
	50% {
	  opacity : 0;
  }
}
.heart {
	z-index : 999;
	animation : heartfade 6s linear;
	position : absolute; 
}
.heart:before,
.heart:after {
	content : "";
	background-color : var(--hearts-color);
	position : absolute;
	height : 30px;
	width : 45px;
	border-radius : 15px 0px 0px 15px;
}

.heart:before {
	transform : rotate(45deg);
}

.heart:after {
	left : 10.5px;
	transform : rotate(135deg);
}

/*---End Hearts on click---*/